@import 'math';

body {
	margin: 0;
    padding: 0;
}

.circles-outer {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.circles-inner {
	position: relative;
	width: 90vw;
	height: 90vw;
}

$circle-size: 10vw;

.circle {
	position: absolute;
	width: $circle-size;
	height: $circle-size;
	margin-left: -0.5 * $circle-size;
	margin-top: -0.5 * $circle-size;
	border-radius: 50%;
}

@media (orientation: landscape) {
	.circles-outer {
		flex-direction: column;
	}
	
	.circles-inner {
		width: 90vh;
		height: 90vh;
	}
	
	$circle-size: 10vh;
	.circle {
		width: $circle-size;
		height: $circle-size;
		margin-left: -0.5 * $circle-size;
		margin-top: -0.5 * $circle-size;
	}
}


$colours:
	('red' #F44336)
	('pink' #E91E63)
	('purple' #9C27B0)
	('blue' #2196F3)
	('green' #4CAF50)
	('yellow' #FFEB3B)
	('orange' #FF5722)
	('brown' #795548)
	('grey' #9E9E9E)
	('black' #000)
	('white' #fff)
;
$colours-count: length($colours);

@for $index from 1 through $colours-count {
	$colour: nth($colours, $index);
	$colour-name: nth($colour, 1);
	$colour-value: nth($colour, 2);
	.circle-#{$colour-name} {
		background: $colour-value;
		left: 50vw + 40vw * cos($index / $colours-count * 360deg); 
		top:  50vw + 40vw * sin($index / $colours-count * 360deg);
	}
	
	@media (orientation: landscape) {
		.circle-#{$colour-name} {
			left: 50vh + 40vh * cos($index / $colours-count * 360deg); 
			top:  50vh + 40vh * sin($index / $colours-count * 360deg);
		}
	}
}
