body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.5s ease-out;
    font-family: 'Bubblegum Sans', cursive;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    
    & > * {
        width: 100vw;
        height: auto;
        margin: 0;
        
        @media (orientation: landscape) {
            width: auto;
            height: 100vh;
            margin: 0 auto;
        }
    }
}
.text-container {
    z-index: 1;
    
    p {
        font-size: 12vh;
        line-height: 100vh;
        text-align: center;
        height: 100vh;
        user-select: none;
    }
}

$colours:
    ('red' #F44336)
    ('pink' #E91E63)
    ('purple' #9C27B0)
    ('blue' #2196F3)
    ('green' #4CAF50)
    ('yellow' #FFEB3B)
    ('orange' #FF9800)
    ('brown' #795548)
    ('grey' #9E9E9E)
    ('black' #000)
    ('white' #fff)
;

@each $colour in $colours {
    $colour-name: nth($colour, 1);
    $colour-value: nth($colour, 2);
    .#{$colour-name} {
        fill: $colour-value;
        background: $colour-value;
        color: #fff;
        
        & & {
            cursor: default;
        }
    }
}

.white {
    color: #000;
}

circle {
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        transform: scale(1.2);
    }
}
